<div class="product-card-list">
  <div class="">
    <search-input (search)="onSearch($event)"></search-input>

    <div class="flex space-x-4">
      <filter-button [buttonText]="'Filtrar por tipo'" [options]="categoryOptions" (optionSelected)="onCategorySelected($event)"></filter-button>
      <filter-button [buttonText]="'Ordenar por'" [options]="sortOptions" (optionSelected)="onSortSelected($event)"></filter-button>
    </div>

  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mt-4">
    <product-card
      *ngFor="let product of products"
      [product]="product">
    </product-card>
  </div>
</div>

<div class="mt-4 mb-10">
  <search-bar [pageNumber]="pageNumber" [pageSize]="pageSize" [totalItems]="totalItems" (previousPage)="onPreviousPage()" (nextPage)="onNextPage()"></search-bar>
</div>
