<div class="product-card">
  <a href="#">
      <img class="rounded-t-lg" [src]="product.imageUrl" alt="{{ product.name }}" />
  </a>
  <div class="content">
      <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ product.name }}</h5>
      </a>

      <p class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-400">Tipo: {{ product.category }}</p>
      <p class="mb-2 text-sm font-medium text-gray-700 dark:text-gray-400">Precio: {{ product.price | currency }}</p>

      <button (click)="addToCart()">Agregar al carrito</button>
  </div>
</div>
